
*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
section{
    margin-bottom: 60px;
}





  /* ---header section style start--- */
header{
    display: flex;
    width: 90%;
    margin: 10px auto 60px;
    background-color: #161616;
    border-radius: 15px;
}
#header-debug{
    width: 50%;
}
.header-info{
    padding: 50px;
}
.header-info h1{
    font-size: 50px;
    font-weight: 700;
    color: #FFFFFF;
}
.header-info p{
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
}
.header-info button{
     font-size: 20px;
     font-weight: 400;
     color: #FFFFFF;
     padding: 7px 15px;
     margin-top: 10px;
     background-color: #DD0000;
     border-radius: 5px;
}
.header-info .fa-solid{
      margin-left: 15px;
}
.header-img{
      margin-top: 32px;
      width: 100%;
      background-image: url(assets/Banner\ Image.png);
      background-position: center;
      background-repeat: no-repeat;
      /* background-color: aqua; */
}
 /* ---header section style end--- */

/* specipic-width section style start */
.specific-width{
      display: flex;
      width: 90%;
      margin: 10px auto;
      border-radius: 15px;
      /* background-color: cadetblue; */
}
.aside-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#161616;
    padding: 20px;
    border-radius: 15px;
    height: 250px;

}
.aside-nav button{
    width: 200px;
    padding: 15px 35px;
    background-color:#FFFFFF;
    color: #161616;
    margin-top: 15px;
    border-radius: 10px;
}
.aside-nav .active{
    background-color:#DD0000;
    color:#FFFFFF;
}
.main-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px auto;
    row-gap: 20px;
}
.main{
    margin-left:12px;
    border: 2px solid #E8E8E8;
    border-radius: 10px; 
    box-sizing: border-box;
}
.main-info{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.main img{
    width: 100%;
}
.main .Transfer{
    padding: 5px 15px;
}
.main button{
    margin-top: 5px;
}
.main h3,
.main div{
    margin-top: 15px;
}
.main div{
    display: flex;
    justify-content: space-between;
}
.main i{
    margin-right: 10px;
}
/* specipic-width section style end */

/* footer section style start */
footer{
    background-color: #161616;

}

.footer-title{
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
footer hr{
    color: #FFFFFF1A;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 50px auto;

}
.footer-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}
.footer-info p{
    color: #B9B9B9;
    font-size: 13px;
    font-weight: 400;
    margin-right: 40px;

}